html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
    margin-top: 10px;
}

.form-group {
    padding-top: 10px;
}

.model-error {
    color: red;
    font-size: 13px;
}